/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
    background-color: #0e1725;
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.mat-mdc-card-header-text{
    width: 100%;
}